header
{
	height:100vh; 
	position: relative;
}
header{
	height:100vh;
	position: relative;
}
body 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/bus-stop.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.subpage-cartman 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/cartman-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.subpage-kyle 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/broflovski-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}.subpage-stan 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/marsh-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.subpage-kenny 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/mccormick-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
 .icon{
	position: relative;
	height:75px;
	top:100;
	left:1vw;
}
.logo-main{
	width:500px;
	position:right;
}
nav main{

}
 div{
 	height:200px;
 	display: inline-grid;
 	grid-template-columns:1fr 1fr 1fr;
 }
 .cartmanbio{
  bottom:100px;
  width:300px;
  height:400px;
  background-color:crimson;
  padding: 75px;
  margin: 20px;
}
h1{
text-align:left;
font-weight:bold;
}
h2{
text-align:left;
font-weight:bold;
}
li{
	display:inline;
}
li main{
	display:inline;
}
ul{
	background-color:black;
	padding:5px;
}
ul main{padding:5px;
	display:inline;
}

footer{
	background-color:black;
	padding:5px;
}