header
{
	height:100vh; 
	position: relative;
}
header{
	height:100vh;
	position: relative;
}
body 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/bus-stop.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;}

.logo-main{
	height:500px;
	position:right;
}
.eric-main{
	size:200px;
	bottom:200px;
	left:700px;
	 
}
.kyle-main{
	bottom:200px;}
	
.stan-main{
	bottom:200px;
	 
}
.kenny-main{
	bottom:200px;
	 
}
main { 
 }
 div{
 	height:200px;
 	display: inline-grid;
 	grid-template-columns:1fr 1fr 1fr;
 }
 .cartmanbio{
 	bottom:100px;
  width: 300px;
  background-color:crimson;
  padding: 75px;
  margin: 20px;
}

 .icon{
	position: relative;
	height:75px;
	top:100;
	left:1vw;
}
 .subpage-cartman 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/cartman-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.subpage-kyle 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/broflovski-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}.subpage-stan 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/marsh-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.subpage-kenny 
 {
	font-family: 'Kreon', serif;
	background-color: black;
	background-image: url(../images/mccormick-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
text-align:left;
font-weight:bold;
}
h2{
text-align:left;
font-weight:bold;
}
h3{
text-align:left;
font-weight:bold;
}
h4{
text-align:left;
font-weight:bold;
}
h5{
text-align:left;
font-weight:bold;
}
li{
	display:inline;
}
/*li-2{
	/*display:inline;
}
ul-2{padding:5px;
	display:inline;
}*/
nav-2{
display:inline;	
}
ul{
	background-color:black;
	padding:5px;
}

}
footer{
	background-color:black;
	padding:5px;
}
/* Enter your Styles below! */
