body {
	font-family: 'Kreon', serif;
	background-color: yellow;
	background-image: url("../images/bus-stop.png");
	height: 100%
}
nav{
	display: grid;
	grid-template-columns: 

}
main { 
 }
/* Enter your Styles below! */
